@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Roboto:wght@400;500&display=swap');

html,
body {
    height: 100%;
}


* {
    font-family: 'Roboto', sans-serif;
}

.backgroundNavbar{
    background: #03A89E;
    color: white;
}

.backgroundNavbar li a{
   text-decoration: none;
    color: white;
}
.topGreen{
    background: #03A89E;
    height: 150px;
    
}
.calendar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.redTask{
    border: 4px solid #CD3700;
    color: #CD3700;
    cursor: pointer;
}
.modalRedtask{
    color: #CD3700;
}
.RedTaskButton{
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    width: 100%;
    color: #fff;
    background: #CD3700;
}
.logoRedTask{
    width: 70px;
    height: 70px;
    background: #CD3700 url("../images/avaliacao.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}

.orangeTask{
    border: 4px solid #FF6103;
    color: #FF6103;
    cursor: pointer;
}
.modalOrangetask{
    color: #FF6103;
}
.orangeTaskButton{
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    width: 100%;
    color: #fff;
    background: #FF6103;
}
.logoOrangeTask{
    width: 70px;
    height: 70px;
    background: #FF6103 url("../images/atividade.png") no-repeat center;
    background-size: 45px;
    border-radius: 50%;
}

.greenTask{
    border: 4px solid #03A89E;
    color: #03A89E;
    cursor: pointer;
}
.modalGreentask{
    color: #03A89E;
}
.greenTaskButton{
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    width: 100%;
    color: #fff;
    background: #03A89E;
}
.logoGreenTask{
    width: 70px;
    height: 70px;
    background: #03A89E url("../images/trabalho.png") no-repeat center;
    background-size: 45px;
    border-radius: 50%;
}
