@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Roboto:wght@400;500&display=swap');

html,
body {
    height: 100%;
}
a{
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}
h4{
    color: #2695FB;
}

.backgroundNavbar{
    background: #03A89E;
    color: white;
}

.backgroundNavbar li a{
   text-decoration: none;
    color: white;
}

.blueBorder{
    border: 4px solid #2695FB;
    color: #2695FB;

    text-decoration: none;
    transition-duration: 0.3s;
}



.blueBorder p {
    text-align: left;
}
.modalBluetask{
    color: #2695FB;
}
.blueButton{
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    width: 100%;
    color: #fff;
    background: #2695FB;
    transition-duration: 0.3s;
}

.blueButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editButton{
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    background: transparent;
    cursor: pointer;
}
.editButton:hover{
    transform: scale(1.02);
}
.logoCalendar{
    width: 70px;
    height: 70px;
    background: #2695FB url("../images/calendario.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}

.textLogin {
    font-family: 'Roboto', sans-serif;
    color: #03A89E;
    text-align: center;
}

.textInput {
    border: none;
    border-bottom: 1px solid #2695FB;
    font-weight: 400;
    font-size: 13px;
    background: transparent;
    color: #2695FB;
    width: 100%;
    transition-duration: 0.3s;
}

.dataInput {
    border: none;
    border-bottom: 1px solid #2695FB;
    font-weight: 400;
    font-size: 13px;
    background: transparent;
    color: #2695FB;
    width: 70%;
    cursor: pointer;
    transition-duration: 0.3s;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.blueText {
    color: #2695FB;
    font-size: 15px;
}

.textInput:focus {
    outline: none !important;
    outline: none !important;
    padding-bottom: 10px;
    font-size: 15px;
}

.dataInput:focus {
    outline: none !important;
    outline: none !important;
    outline: none !important;
    padding-bottom: 10px;
    font-size: 15px;
}

::placeholder {
    color: #2695FB;
}
