@import "../colors.module.scss";
.Task{
    border: 1px solid $greenColor;
    color: $greenColor;
    cursor: pointer;
    transition-duration: 0.3s;
}
.Color{
    color: $greenColor;
}
.modaltask{
    color: $greenColor;
}

.logoTask{
    width: 60px;
    height: 60px;
    background: $greenColor url("../../public/trabalho.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}

