@import "./colors.module.scss";

.apresentacao {
	color: $greenColor;
}
.atividade {
	color: $orangeColor;
}
.avaliacao {
	color: $redColor;
}
.historico {
	color: $grayColor;
}
.cursor{
	cursor: pointer;
}

.logoApresentacao{
    width: 60px;
    height: 60px;
    background: $greenColor url("../public/trabalho.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}

.logoAtividade{
    width: 60px;
    height: 60px;
    background: $orangeColor url("../public/atividade.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}

.logoAvaliacao{
    width: 60px;
    height: 60px;
    background: $redColor url("../public/avaliacao.png") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
}