@import "./colors.module.scss";

.WhiteButton {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: $greenColor;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    padding: 5px;
    width: 80%;
    font-weight: 500;
    transition-duration: 0.3s;
    cursor: pointer;
}
.WhiteButton:hover{
    color: $greenColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.redButton{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    margin: 2% 2% 0 2%;
    width: 96%;
    color: #fff;
    background: $redColor;
    transition-duration: 0.3s;
    cursor: pointer;
}

.redButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.greenButton{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    margin: 2% 2% 0 2%;
    padding: 5px;
    width: 96%;
    color: #fff;
    background: $greenColor;
    transition-duration: 0.3s;
    cursor: pointer;
}

.greenButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.orangeButton{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    margin: 2% 2% 0 2%;
    width: 96%;
    color: #fff;
    background: $orangeColor;
    transition-duration: 0.3s;
    cursor: pointer;
}

.orangeButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.blueButton{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    margin: 2% 2% 0 2%;
    padding: 5px;
    width: 96%;
    color: #fff;
    background: $blueColor;
    transition-duration: 0.3s;
    cursor: pointer;
}

.blueButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.purpleButton{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    margin: 2% 2% 0 2%;
    width: 96%;
    color: #fff;
    background: $purpleColor;
    transition-duration: 0.3s;
    cursor: pointer;
}

.purpleButton:hover{
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
