@import "./colors.module.scss";

.Container{
    height: 100vh;
}
.ApresentationRegister {
    font-family: 'Roboto', sans-serif;
    color: #03A89E;
    text-align: center;
}

.FormBackground {
    background-color: #03A89E;
}
.logoForm {
    width: 100px;
}



